.container {
    table-layout: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    z-index: 1000;
}

.top-bar {
    display: flex;
    position: fixed;
    align-items: center;
    padding: 0;
    margin-left: -10px;
    margin-right: 5px;
    width: 87vw;
    height: 7.8vh;
    background-color: #6a4026;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    z-index: 1000;
}

.top-bar-profile {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    align-items: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 15vw;
    height: 7.8vh;
    background-color: #6a4026;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.top-bar-profile td {
    width: 100vw;
}

.container {
    table-layout: fixed;
    display: flex;
    justify-content: space-between;
    /* or flex-start / center */
    align-items: center;
    vertical-align: top;
}

.top-bar {
    display: flex;
    position: fixed;
    align-items: center;
    padding: 0;
    margin-left: -10px;
    margin-right: 5px;
    width: 87vw;
    height: 7.8vh;
    background-color: #6a4026;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.top-bar th {
    width: 100vw;
}

.top-bar-profile {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    align-items: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 15vw;
    height: 7.8vh;
    background-color: #6a4026;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background 0.2s, transform 0.2s;
    background-color: transparent;
}

.nav-button:hover {
    background-color: #8b5e3c;
}

.img {
    width: 40px;
    height: 35px;
    vertical-align: middle;
}

.pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.top-bar-profile td {
    width: 100vw;
}